@import "@/styles/variables";
@import "@/styles/mixins";

* {
    @include borderbox;
}

html {
    font-size: $font-size !important;
}

.v-application {
    width: 100%;
    height: 100vh;
    background-color: $pink !important;
    background-image: $gradient !important;
}

v-content {
    @include w-100;
    height: 2000px;
}

#headertop {
    height: 100px;
    background-color: rgba($indigo, 0.5);
    animation: fadeIn 2s linear;
}

#headerbottom {
    height: 100px;
    animation: fadeIn 1s linear;
    background-color: rgba($dark, 0.5);
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.btn-up {
    position: fixed !important;
    bottom: 100px;
    right: 50px;
}
