@import "@/styles/variables";
@import "@/styles/mixins";

* {
    @include borderbox;
}

html {
    font-size: $font-size !important;
}

.v-application {
    width: 100%;
    height: 100vh;
    background-color: $pink !important;
    background-image: $gradient !important;
}

v-content {
    @include w-100;
    height: 200vh;
}

#headertop {
    background-color: $indigo;
    animation: fadeIn 2s linear;
}

#headerbottom {
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
