@import "@/styles/variables";
@import "@/styles/mixins";

* {
    @include borderbox;
}

html {
    font-size: $font-size !important;
}

.v-application {
    width: 100%;
    height: auto;
    background-color: $pink !important;
    background-image: $gradient !important;
}

.header,
.menu-title,
.row-header {
    height: 100px;
}

.menu-title {
    @include flexcenter;
    .v-btn {
        margin: 5px;
    }
}

#headertop {
    background-color: rgba($indigo, 0.5);
    animation: fadeIn 2s linear;
}

#headerbottom {
    position: sticky;
    top: 0;
    animation: fadeIn 1s linear;
    background-color: rgba($dark, 0.5);
}

.header-logo {
    @include flexcenter;
    img {
        height: 50px;
        @include flexcenter();
    }
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.btn-up {
    position: fixed !important;
    bottom: 100px;
    right: 50px;
}

.col1 {
    background-color: rgba($indigo, 0.5);
    height: 200px;
}

.col2 {
    background-color: rgba($dark, 0.5);
    height: 200px;
}

.parallax {
    background-image: url("@/assets/img/parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.v-navigation-drawer {
    background-image: $gradient !important;
    opacity: 0.9;
}
